
.borderTopWidthThin                    { border-top-width: thin;                                           }
.borderTopWidthMedium                  { border-top-width: medium;                                         }
.borderTopWidthThick                   { border-top-width: thick;                                          }
.borderTopWidth0px                     { border-top-width: 0px;                                            }
.borderTopWidth1px                     { border-top-width: 1px;                                            }
.borderTopWidth2px                     { border-top-width: 2px;                                            }
.borderTopWidth3px                     { border-top-width: 3px;                                            }
.borderTopWidth4px                     { border-top-width: 4px;                                            }
.borderTopWidth5px                     { border-top-width: 5px;                                            }
.borderTopWidth6px                     { border-top-width: 6px;                                            }
.borderTopWidth7px                     { border-top-width: 7px;                                            }
.borderTopWidth8px                     { border-top-width: 8px;                                            }
.borderTopWidth9px                     { border-top-width: 9px;                                            }
