
.borderLeftWidthThin                    { border-left-width: thin;                                           }
.borderLeftWidthMedium                  { border-left-width: medium;                                         }
.borderLeftWidthThick                   { border-left-width: thick;                                          }
.borderLeftWidth0px                     { border-left-width: 0px;                                            }
.borderLeftWidth1px                     { border-left-width: 1px;                                            }
.borderLeftWidth2px                     { border-left-width: 2px;                                            }
.borderLeftWidth3px                     { border-left-width: 3px;                                            }
.borderLeftWidth4px                     { border-left-width: 4px;                                            }
.borderLeftWidth5px                     { border-left-width: 5px;                                            }
.borderLeftWidth6px                     { border-left-width: 6px;                                            }
.borderLeftWidth7px                     { border-left-width: 7px;                                            }
.borderLeftWidth8px                     { border-left-width: 8px;                                            }
.borderLeftWidth9px                     { border-left-width: 9px;                                            }
