
.borderWidthThin                    { border-width: thin;                                           }
.borderWidthMedium                  { border-width: medium;                                         }
.borderWidthThick                   { border-width: thick;                                          }
.borderWidth0px                     { border-width: 0px;                                            }
.borderWidth1px                     { border-width: 1px;                                            }
.borderWidth2px                     { border-width: 2px;                                            }
.borderWidth3px                     { border-width: 3px;                                            }
.borderWidth4px                     { border-width: 4px;                                            }
.borderWidth5px                     { border-width: 5px;                                            }
.borderWidth6px                     { border-width: 6px;                                            }
.borderWidth7px                     { border-width: 7px;                                            }
.borderWidth8px                     { border-width: 8px;                                            }
.borderWidth9px                     { border-width: 9px;                                            }
