
.borderRightWidthThin                    { border-right-width: thin;                                           }
.borderRightWidthMedium                  { border-right-width: medium;                                         }
.borderRightWidthThick                   { border-right-width: thick;                                          }
.borderRightWidth0px                     { border-right-width: 0px;                                            }
.borderRightWidth1px                     { border-right-width: 1px;                                            }
.borderRightWidth2px                     { border-right-width: 2px;                                            }
.borderRightWidth3px                     { border-right-width: 3px;                                            }
.borderRightWidth4px                     { border-right-width: 4px;                                            }
.borderRightWidth5px                     { border-right-width: 5px;                                            }
.borderRightWidth6px                     { border-right-width: 6px;                                            }
.borderRightWidth7px                     { border-right-width: 7px;                                            }
.borderRightWidth8px                     { border-right-width: 8px;                                            }
.borderRightWidth9px                     { border-right-width: 9px;                                            }
