
.borderBottomWidthThin                    { border-bottom-width: thin;                                           }
.borderBottomWidthMedium                  { border-bottom-width: medium;                                         }
.borderBottomWidthThick                   { border-bottom-width: thick;                                          }
.borderBottomWidth0px                     { border-bottom-width: 0px;                                            }
.borderBottomWidth1px                     { border-bottom-width: 1px;                                            }
.borderBottomWidth2px                     { border-bottom-width: 2px;                                            }
.borderBottomWidth3px                     { border-bottom-width: 3px;                                            }
.borderBottomWidth4px                     { border-bottom-width: 4px;                                            }
.borderBottomWidth5px                     { border-bottom-width: 5px;                                            }
.borderBottomWidth6px                     { border-bottom-width: 6px;                                            }
.borderBottomWidth7px                     { border-bottom-width: 7px;                                            }
.borderBottomWidth8px                     { border-bottom-width: 8px;                                            }
.borderBottomWidth9px                     { border-bottom-width: 9px;                                            }
