
.fontArial              { font-family: "arial";                                                     }
.fontCourier            { font-family: "courier";                                                   }
.fontMonospace          { font-family: "monospace";                                                 }
.fontSansSerif          { font-family: "sans-serif";                                                }
.fontTimes              { font-family: "times";                                                     }
