
.fontStyleNormal        { font-style: normal;                                                       }
.fontStyleItalic        { font-style: italic;                                                       }
.fontStyleOblique       { font-style: oblique;                                                      }

.fontStyleBoldNo        { font-weight: noraml;                                                      }
.fontStyleBoldYes       { font-weight: bold;                                                        }
